<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%= link_to user.name, user %></p>

<% end %>

<% if user_signed_in? %>

	<% if !current_user.profile %>

	<%= link_to 'Create your profile', new_user_profile_path, :class => 'btn btn-success' %>

<% end %>

<% if user_signed_in? %>
	<%= link_to 'Create group', new_group_path, :class => 'btn btn-primary' %>

<% end %>

<%= link_to "New User", user_registration_path %>

<div class="well">
	
	<h2>Groups</h2>

	<ul>
		<% @groups.each do |group| %>
			<li><%= link_to group.name, group %></li>
	
		<% end %>
	</ul>
</div>
